/*
Design for FM Abril website 
Year: 2014
Version: 1.0.0
Author: Adrian Barabino
Author URI: http://www.adrianbarabino.net/
*/

body{
	
}


/* JS fallback (for robots maybe, i dont know really) */
.nojs #loading{
	display:none!important;
}
.nojs #inicio{
	display:block!important;
}